.bg-Image {
  background-image: url("https://thumbs.dreamstime.com/b/dumbbells-shelf-workout-gym-copy-space-blurred-gym-background-preparation-gym-exercises-workout-gym-161393354.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
